/* Define background color styles for light and dark modes */
.news-feed-background {
    background-color: #F1F1F1; /* Default for light mode */
  }
  
  @media (prefers-color-scheme: dark) {
    .news-feed-background {
      background-color: #333333; /* Background for dark mode */
    }
  }

.light-theme {
  background-color: #ffffff;
  color: #000000;
}
  
.dark-theme {
  background-color: #121212;
  color: #ffffff;
}
  
body {
  transition: background-color 0.3s, color 0.3s;
}

.bg-dark {
  background-color: #1A1A1A;
}

.text-light {
  color: #E8E8E8;
}

.bg-light {
  background-color: #ffffff;
}

.text-dark {
  color: #000000;
}
